<div class = "container">
  <div class = "row justify-content-center">
    <div class="card" style="width: 25rem;">
      <div class="card-body">        
        <h5 class="card-title" id="username">@<%=comment.user.username%></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%=comment.created_at.day%>/<%=comment.created_at.month%>/<%=comment.created_at.year%></h6>
        <p class="card-text"><%=comment.body%></p>
        <a href="#" class="card-link">Likes:</a>
      </div>
    </div>
  </div>
</div> 
<%= render partial: 'comments/form', locals:{comment: @tweet.comments} %>
