<div class = "container">
  <div class = "row justify-content-center">
    <div class="card" style="width: 25rem;">
      <div class="card-body">        
        <h5 class="card-title" id="username"><%= image_tag comment.user.photos.last.image(:small).url if comment.user.photos.last %>@<%="#{comment.user.username}"%></h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <%= render partial: "shared/time_ago", locals: {tweet: comment}%>
        </h6>
        <p class="card-text"><%=comment.body%></p>
        <hr>
        <% if user_signed_in?%>
         <%= render partial: 'likes/button', locals: {likeable: comment} %>
        <%end%> 
        <%if user_signed_in? %>
          <%= button_to "Delete", tweet_comment_path(comment), class: "btn btn-danger", method: :delete if comment.user_id == current_user.id %>
        <%end%>
      </div>
    </div>
  </div>
</div> 