<h1 class="text-center"><%= pluralize(@users.count, "Result") %></h1>
<div id = "container">
  <div class = "users">
    <% @users.each do |user| %>
      <div class = "user">
        <div class="card" style="width: 28rem;">
          <div class = "text-center mt-3">
            <%if user.photos.last %>
              <img src=<%= user.photos.last.image_url(:large).to_s%> id= "search_pic">
            <%end%>
            <div class="card-body text-center justify-content-center">
              <h5 class="card-title">
                <div class= "fs-2"><%=user.name%></div>
                <%=link_to "@#{user.username}", user_path(user.id)%>
              </h5>
              <%if user_signed_in? && current_user != user && !current_user.following.include?(user) %>
                <%= button_to "Follow", follows_path, class: "btn btn-success", params: {follow: {following_id: user.id, follower_id: current_user.id}} %>
              <%elsif user_signed_in? && current_user != user && current_user.following.include?(user) %>
                ✓
              <%end%>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>