<h2 class="title">Log in</h2>
<div class="form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-3">
        <label class="form-label"><%= f.label :email %><br /></label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label class="col-form-label"><%= f.label :password %></label>
        </div>
        <div class="col-10">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>
      </div>
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>