<%= form_with(model: tweet) do |f| %>
  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "container">
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <%= f.label :body, "What's on your mind?", class: "card-title col-form-label"%>
        <%= f.text_field :body %>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Private Tweet(visible only to your followers)</label>
        </div>
        <%= f.submit "Tweet", class: "btn btn-primary"%>
      </div>
    </div>
  </div>
<% end %>
