<div class = "form-dingo">
<%= form_with(model: tweet) do |f| %>
  <% if tweet.errors.any? %>
    <div style="color: black">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>
      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card" style="height: 20rem; width: 35rem;">
    <div class="card-body">
      <%= f.label :body, "What's on your mind?", class: "card-title col-form-label"%>
      <%= f.text_area :body, rows: 8, class: "form-control" %>
      <%= f.submit "Tweet", class: "btn btn-primary"%>
    </div>
  </div>
<% end %>
</div>