<div class = "container">
  <div class = "row justify-content-center">
    <div class="card" style="width: 35rem;">

      <div class="card-body">        
        <h5 class="card-title" id="email"><%= image_tag tweet.user.photos.last.image(:small).url if tweet.user.photos.last %><%=link_to "@#{tweet.user.username}", user_path(tweet.user_id)%></h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <%= render partial: "shared/time_ago", locals: {tweet: tweet}%>
        </h6>

        <p class="card-text"><%=tweet.body%></p>
        <hr>
        <div class= "d-flex justify-content-evenly align-items-end">
          <% if user_signed_in?%>
            <%= render partial: 'likes/button', locals: {likeable: tweet} %>
          <%end%>
          <%= link_to "💬", tweet, class: "card-link" %>
          <%= button_to 'Retweet', retweet_tweet_path(tweet), class: "btn btn-primary", method: :post if user_signed_in? && tweet.user.id != current_user.id%>
        </div>
      </div>

    </div>
  </div>
</div>


