<div class = "container">
  <div class = "row justify-content-center">
    <div class="card" style="width: 35rem;">

      <div class="card-body">        
        <h5 class="card-title" id="email"><%="@#{tweet.user.username}"%></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%=tweet.created_at.day%>/<%=tweet.created_at.month%>/<%=tweet.created_at.year%></h6>
        <p class="card-text"><%=tweet.body%></p>

        <% if user_signed_in?%>
          <% like = current_user.likes.find_by(tweet: tweet)%>
          <% if like.nil?%>
            <%= button_to "♡", likes_path, class: "card-link", params: {like: {tweet_id: tweet.id} } , method: :post%>
          <%else%>
            <%= button_to "❤️", like_path(like), class: "card-link", method: :delete%>
          <%end%>
        <%end%>
        <%= link_to "Replies", tweet, class: "card-link" %>
        <%= button_to 'Retweet', retweet_tweet_path(tweet), method: :post if user_signed_in? && tweet.user.id != current_user.id%>
      </div>

    </div>
  </div>
</div>


