<div class = "container">
  <div class = "row justify-content-center">
    <div class="card" style="width: 35rem;">
      <div class="card-body">
        <h5 class="card-title" id="email"><%="#{tweet.user.email}"%></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%=tweet.created_at%></h6>
        <p class="card-text"><%= tweet.body%></p>
        <a href="#" class="card-link">comments</a>
        
        <%= button_to 'Retweet', retweet_tweet_path(tweet), method: :post if user_signed_in? && tweet.user.id != current_user.id%>

        <a href="#" class="card-link">Likes:<%=tweet.likes%></a>
        <a href="#" class="card-link">share</a>
      </div>
    </div>
  </div>
</div>


