<p style="color: green"><%= notice %></p>
<h1 class = "text-center">Tweets</h1>

<div class="apple_pagination fs-5 ">
    <div class="page_info">
      <%= page_entries_info @tweets %>
    </div>
    <%= will_paginate @tweets, :container => false %>
</div>

<div class = "container" id="tweets">
  <div class = "justify-content-center">
    <%= render 'form', tweet: @tweet if user_signed_in?%>
    <% @tweets.each do |tweet| %>
      <%= render partial: "tweets/#{tweet.tweet_type}", locals: {tweet: tweet} %>
    <% end %>
  </div>
</div>

<div class="apple_pagination fs-5 ">
    <div class="page_info">
      <%= page_entries_info @tweets %>
    </div>
    <%= will_paginate @tweets, :container => false %>
</div>


