<p style="color: green"><%= notice %></p>

<%= render @tweet %>
<% if user_signed_in?%>
  <%= render partial: 'comments/form', locals:{tweet: @tweet} %>
<%end%>  

<div>
  <%= link_to "Back to tweets", tweets_path %>
  <% if current_user == @tweet.user %>
    <%= button_to "Delete tweet", @tweet, method: :delete %>
  <%end%>
</div>
