<p style="color: green"><%= notice %></p>
<h1 class = "text-center"><%=image_tag @user.photos.last.image(:small).url if !@user.photos.last.nil? %><%= @user.username%>
<% if current_user == @user%>
  <%= link_to "⚙", edit_user_registration_path %>
<%end%>
</h1>
<div class = "container" id="tweets">
  <div class = "justify-content-center">
    <% @user.tweets.each do |tweet| %>
      <%= render partial: "tweets/#{tweet.tweet_type}", locals: {tweet: tweet} %>
    <% end %>
  </div>
</div>