
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <%= link_to "TwitterClone", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <%if !user_signed_in?%>
          <li class="nav-item">
            <%= link_to "Log in", new_user_session_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link active" %>
          </li>
        <%elsif user_signed_in?%>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
            <%= link_to "Profile", user_path(current_user), class: "nav-link active" %>
            <%= link_to "Following", following_follow_path(current_user), class: "nav-link active" %>
            <%= link_to "Followers", follows_path(current_user), class: "nav-link active" %>
            <%= link_to "Followed User's Tweets", feed_follow_path(current_user), class: "nav-link active" %>

        <%end%>

      </ul>
      <form class="d-flex" role="search">
          <%= form_with url: "/search", method: :get do |form| %>
          
          <%= form.text_field :query %>
          <%= form.submit "Search" %>
        <% end %>

      </form>
    </div>
  </div>
</nav>